/*******************************************************************************

*                           BorderLessScene                            *    

******************************************************************************/

.border-less-pane{
	-fx-background-color: transparent;
}

.transparent-window {
	-fx-background-color: rgb(0,0,0,0.3);
	-fx-border-color: orange;
	-fx-border-width: 2;
}

/* Universal */
.leftPane:hover , .rightPane:hover , .topPane:hover , .bottomPane:hover , .topLeftPane:hover , .topRightPane:hover , .bottomRightPane:hover , .bottomLeftPane:hover {	
	-fx-background-color:rgb(255.0,0.0,0.0,0.8);
	-fx-border-width:2.0;
	/*-fx-border-style:dotted ;	*/
}

/* Sides */
.leftPane:hover{
	-fx-border-color:transparent transparent transparent black;
}

.rightPane:hover{
	-fx-border-color:transparent black transparent transparent;
}

.topPane:hover{
	-fx-border-color:black transparent transparent transparent;
}

.bottomPane:hover{	
	-fx-border-color:transparent transparent black transparent;
}

/* Corners */

.topLeftPane:hover{
	-fx-border-color:black transparent transparent black;
}


.topRightPane:hover{
	-fx-border-color:black black transparent transparent;
}


.bottomRightPane:hover{
	-fx-border-color:transparent black black transparent;	
}

.bottomLeftPane:hover{
	-fx-border-color:transparent transparent black black;
}
